In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
ticker = 'AAPL'
dfdata = yf.download(ticker, start = '2020-01-01', end = '2024-09-12', progress = False)

display(dfdata)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.876114,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.167618,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.742661,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.400558,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.565193,132079200
...,...,...,...,...,...,...
2024-09-05,221.630005,225.479996,221.520004,222.380005,222.380005,36615400
2024-09-06,223.949997,225.240005,219.770004,220.820007,220.820007,48423000
2024-09-09,220.820007,221.270004,216.710007,220.910004,220.910004,67180000
2024-09-10,218.919998,221.479996,216.729996,220.110001,220.110001,51591000
2024-09-11,221.460007,223.089996,217.889999,222.660004,222.660004,44587100

In [3]:
dfdata['Return'] = dfdata['Adj Close'].pct_change()
dfdata = dfdata.dropna()
quantiles = pd.qcut(dfdata['Return'], q = 4, labels = False)
dfdata['Quantile'] = quantiles
dfdata

C:\Users\wodnj\AppData\Local\Temp\ipykernel_12596\2995868000.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfdata['Quantile'] = quantiles

,Open,High,Low,Close,Adj Close,Volume,Return,Quantile
Date,,,,,,,,
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.167618,146322800,-0.009722,0
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.742661,118387200,0.007968,2
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.400558,108872000,-0.004703,1
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.565193,132079200,0.016086,3
2020-01-09,76.809998,77.607498,76.550003,77.407501,75.127762,170108400,0.021241,3
...,...,...,...,...,...,...,...,...
2024-09-05,221.630005,225.479996,221.520004,222.380005,222.380005,36615400,0.006928,2
2024-09-06,223.949997,225.240005,219.770004,220.820007,220.820007,48423000,-0.007015,1
2024-09-09,220.820007,221.270004,216.710007,220.910004,220.910004,67180000,0.000408,1
2024-09-10,218.919998,221.479996,216.729996,220.110001,220.110001,51591000,-0.003621,1
2024-09-11,221.460007,223.089996,217.889999,222.660004,222.660004,44587100,0.011585,2

In [4]:
dfdata['Quantile'].value_counts()

Quantile
0    295
2    295
1    295
3    295
Name: count, dtype: int64